<div class="card">
    <div class="card-header">
        <h4 class="card-title">Filters</h4>
    </div>
    <div class="card-body">
        <form>
            
            <div class="form-group">
                <label for="">Price From</label>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                <label for="">Price To</label>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">Help text</small>
            </div>

            <div class="form-group">
                <label for="">
                    <input type="checkbox" class="checkbox-bootstrap" aria-describedby="helpId" name="" id="" autocomplete="off"> Rare Product
                </label>
            </div>

        </form>
    </div>
    <div class="card-footer text-muted">
        Filter Your Results
    </div>
</div>
