<div class="card mb-4 box-shadow">
    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image" src={{product.img}}>
    <div class="card-body">
        <h5 class="card-text">{{product.name}}</h5>
        <p class="card-text justify-content-between align-right">{{ product.cartonPrice | currency:'USD' }}<small class="text-muted"> /Carton</small><br><small class="text-muted">{{product.unitPerCarton}} units per carton</small></p>

        <p class="card-text">{{product.description | slice: 0:100}}...</p>
        <!-- <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <input class="btn" min="0" name="carton" value=1 type="number">
                <button type="button" class="btn btn-sm btn-primary" (click)="addToCart()">Add Carton</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add Unit</button>
            </div>
        </div> -->
        <div class="input-group">
            <input type="number" class="form-control" placeholder="Qty" min="1" name="qty" value="1" [(ngModel)]='qty' ngDefaultControl aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" (click)="addToCartCarton()">Carton</button>
                <button class="btn btn-outline-secondary" type="button" (click)="addToCartUnit()">Unit</button>
            </div>
        </div>
    </div>
</div>