<li class="list-group-item d-flex justify-content-between lh-condensed">
    <div>
        <h6 class="my-0">{{cartItem.product.name}}</h6>
        <small class="text-muted" [(ngModel)]='cartItem.carton' [(ngModel)]='cartItem.unit' ngDefaultControl>{{cartItem.carton}} Carton and {{cartItem.unit}} units</small>
        <br>
        <!-- <small class="text-muted" [(ngModel)]='cartItem.priceDetails' ngDefaultControl>{{cartItem.priceDetails}}</small> -->
    </div>
    <span class="text-muted">{{cartItem.price | currency: 'USD'}}</span>
</li>