<div class="container-fluid">
  <div class="row">
    <aside class="col-lg-9">
      <div class="card">
        <div class="table-responsive">
          <table class="table table-borderless table-shopping-cart">
            <thead class="text-muted">
              <tr class="small text-uppercase">
                <th scope="col" style="width: 20%;">Product</th>
                <th scope="col" style="width: 5%;">Carton</th>
                <th scope="col" style="width: 5%;">Unit</th>
                <th scope="col" style="width: 10%;">Price</th>
                <th scope="col" style="width: 50%;">Price Details</th>
                <th scope="col" class="text-right d-none d-md-block" style="width: 10%;"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cartItems; let i = index">
                <td>
                  <figure class="itemside align-items-center">
                    <div class="aside">
                      <img src="{{ item.product.img }}" class="img-sm" />
                    </div>
                    <figcaption class="info">
                      <a href="#" class="title text-dark" data-abc="true">{{ item.product.name }}</a>
                      <p class="text-muted small">
                        {{ i + 1 }} Units per carton: {{ item.product.unitPerCarton }}
                        <br />
                        Carton Price : {{ item.product.cartonPrice }}
                      </p>
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="def-number-input number-input safari_only">
                    <input class="btn btn-primary" min="0" name="carton" (change)="somethingChanged( i )"
                      value="{{ item.carton }}" [(ngModel)]="item.carton" type="number" />
                  </div>
                </td>
                <td>
                  <div class="def-number-input number-input safari_only">
                    <input class="btn btn-primary" min="0" name="unit" value="{{ item.unit }}"
                      (change)="somethingChanged( i )" [(ngModel)]="item.unit" type="number" />
                  </div>
                </td>
                <td>
                  <div class="price-wrap">
                    <var class="price">{{ item.price | currency:"USD" }}</var>
                  </div>
                </td>
                <td>
                  <div class="price-wrap">
                    <small class="text-muted">{{ item.priceDetails }}</small>
                  </div>
                </td>
                <td class="text-right d-none d-md-block">
                  <a href="" class="btn btn-light" data-abc="true"> Remove</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </aside>
    <aside class="col-lg-3">
      <div class="card mb-3">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label>Have coupon?</label>
              <div class="input-group">
                <input type="text" class="form-control coupon" name="" placeholder="Coupon code" />
                <span class="input-group-append">
                  <button class="btn btn-primary btn-apply coupon">
                    Apply
                  </button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">{{ cartItems.length }}</span>
          </h4>
          <h5 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Total </span>
            <strong class="badge badge-primary badge-button">{{ total | currency:"USD" }}</strong>
          </h5>
          <hr />
          <a href="#" class="btn btn-out btn-primary btn-square btn-main" data-abc="true"> Make Purchase</a>
          <a href="#" class="btn btn-out btn-success btn-square btn-main mt-2" data-abc="true">Continue Shopping</a>
        </div>
      </div>
    </aside>
  </div>
</div>