<!-- Footer -->
<footer class="page-footer font-small pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Demostration Application</h5>
        </li>
      </ul>
      <!-- Call to action -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://www.linkedin.com/in/tharinda-wickramaarachchi-61a50a53/"> Tharinda Wicky</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->